Source: hteditor
Maintainer: Evgeny V Duzhakov <diabolo@diabolo.su>
Section: utils
Priority: optional
Depends: ${shlibs:Depends}, ${utils:Depends}
Build-depends: debhelper, libncurses-dev, ncurses-dev, liblzo2-dev

Package: hteditor
Version: 2.1.0-1
Architecture: amd64
Conflicts: ht, hteditor
Description: HEX Editor
 This program is a file viewer, editor and analyzer for
 text, binary, and (especially) executable files.
 See sources on https://github.com/diaevd/HDEditor

